<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @league.skill %> League Page</h1>
    <% if signed_in? %>
      <%= link_to 'New Team Registration', new_league_team_path(@league) %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'teams' %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'schedule' %>
  </div>
</div>
