<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-md-offset-4"><h1>New Game</h1></div>
    <div class="col-md-5 col-md-offset-4"><%= render 'new_game_form' %></div>
  </div>
</div>
