<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-md-offset-4"><h1>New Game</h1></div>
    <div class="col-md-5 col-md-offset-4">
      <div class="searchtablewrapper">
        <%= render 'new_game_form' %>
        <%= link_to "Cancel", @league, class: "btn btn-primary", style: "float:right; margin-top:-35px; margin-right:40px;" %>
      </div>
    </div>
  </div>
</div>
