// Place all the styles related to the Team controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.playerSchedule {
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  border-radius: 25px;
  background: #E8E8E6;
}
