// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.statsbox {
  float: left;
  width: 130px;
  height: 45px;
  padding-right:5px;
  text-align:right;
}

.userform {
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  border-radius: 25px;
  background: #E8E8E6;
}
